<div class="sobre container">

  <h2>Sobre</h2>

  <div class="texto">
    <p>
      Eu sou Ruan, e me encontro em uma jornada para obter conhecimento. E nessa jornada eu estou me dedicando muito,
      apesar das fragilidades humanas, eu sigo em frente, com perseverança e dentro dos meus princípios. 
    </p>
    <p>
      "Aquele que luta com monstros deve acautelar-se para não tornar-se também um monstro. Quando se olha muito tempo
      para um abismo, o abismo olha para você."
      <br />Friedrich Nietzsche Para Além do Bem e do Mal.
    </p>
    <p>

    </p>

  </div>

</div>
